.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  padding: 1vh 10vw;
  background-color: #5a2d86;
}

.header-title {
  display: flex;
  align-items: center;
}
